/* VARIAVEIS */
:root {
    --fundocor: #e3e3e3;
    --textocor: #242424;
    --corquadrado: #8fc5ff;
    --corminiquadrado: #20a90b;
}

/* RESET */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

/* BASE */
* {
    color: var(--textocor);
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--fundocor);
}

/* MOBILE */
header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 20pt;
}

main {
    margin: 0% 8% 0% 8%;
}

section {
    background-color: var(--corquadrado);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin: 4% 0 0 0;
}

section h2 {
    margin: 5% 0 2% 0;
    justify-content: center;
    text-align: center;
}

section p {
    margin: 3%;
    text-align: justify;
    justify-content: center;
}

/* OUTROS TAMANHO */
@media only screen and (min-width: 1000px) {
    /* VERSÃO DESKTOP */
    
    main {
        display: flex;
        flex-wrap: wrap; 
        gap: 16px; 
    }

    section {
        width: calc(50% - 16px); 
    }

}
