/* VARIAVEIS */
:root {
    --fundocor: #d7e9fd;
    --textocor: #242424;
    --corquadrado: #99c5f4;
    --corminiquadrado: #dfdfdf;
}

/* RESET */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

/* BASE */
* {
    color: var(--textocor);
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: var(--fundocor);
}

/* MOBILE */
header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 20pt;
}

main {
    margin: 0% 8% 0% 8%;
}

section {
    background-color: var(--corquadrado);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin: 4% 0 4% 0;
    border-radius: 15px;
}

section h2 {
    margin: 5% 0 2% 0;
    justify-content: center;
    text-align: center;
}

section p {
    margin: 3%;
    text-align: justify;
    justify-content: center;
}

.flex-exemplos {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.quadrado {
    width: 50px;
    height: 50px;
    background-color: var(--corminiquadrado);
    color: var(--textocor);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
}

/* EXEMPLOS ESPECÍFICOS */

.gap {
    display: flex;
    gap: 30px;
}

.align-content {
    display: flex;
    align-content: flex-start; 
    flex-direction: column;
    height: 150px; 
}

.align-items {
    display: flex;
    align-items: center; 
    height: 100px; 
}

.align-self {
    display: flex;
    height: 100px; 
}

.align-self .quadrado:nth-child(2) {
    align-self: center;
}


.justify-content {
    display: flex;
    justify-content: space-between; 
    width: 200px; 
}

.flex-wrap {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.flex-grow {
    display: flex;
    width: 100%;
}

.flex-grow .quadrado {
    flex-grow: 2; 
}

.flex-direction {
    display: flex;
    flex-direction: column-reverse;
    height: 150px;
}

@media only screen and (min-width: 1120px) {
    /* VERSÃO DESKTOP */
    
    main {
        display: flex;
        flex-wrap: wrap; 
        gap: 16px; 
    }

    section {
        width: calc(50% - 16px); 
    }

    .quadrado{
        height: 100px;
        width: 100px;
    }

}
